//- views/tour.pug
extends _layout

block head
  //- This adds the Leaflet CSS file only to the head of the tour detail page
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="")

block content
  section.section-header
    .header__hero
      .header__hero-overlay  
      img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
    .heading-box
      h1.heading-primary
        span= `${tour.name}`
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text= `${tour.duration} days`
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text= tour.startLocation.description

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-calendar')
            span.overview-box__label Next date
            span.overview-box__text= new Date(tour.startDates[0]).toLocaleString('en-us', {month: 'long', year: 'numeric'})
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-trending-up')
            span.overview-box__label Difficulty
            span.overview-box__text= tour.difficulty
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-user')
            span.overview-box__label Participants
            span.overview-box__text= `${tour.maxGroupSize} people`
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-star')
            span.overview-box__label Rating
            span.overview-box__text= `${tour.ratingsAverage} / 5`
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Your tour guides
          if tour.guides && tour.guides.length > 0
            each guide in tour.guides
              .overview-box__detail
                img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
                span.overview-box__label= guide.role === 'lead-guide' ? 'Lead guide' : 'Tour guide'
                span.overview-box__text= guide.name
          else
            .overview-box__detail
              p.overview-box__text This tour currently has no guides assigned.
    
    .description-box
      h2.heading-secondary.ma-bt-lg= `About ${tour.name}`
      p.description__text= tour.summary
      .itinerary
        h2.heading-secondary.ma-bt-lg Locations:)
        ul.itinerary__list
          each loc in tour.locations
            li.itinerary__item
              strong Day #{loc.day}: 
              span= loc.description

  section.section-pictures
    each img, i in tour.images
      .picture-box
        img.picture-box__img(src=`/img/tours/${img}`, alt=`${tour.name} scene ${i + 1}`)

  section.section-map
    #map(data-locations=`${JSON.stringify(tour.locations)}`)

  section.section-cta
    .cta
      .cta__img.cta__img--logo
        img(src='/img/logo-white.png', alt='TravelSaga logo')
      img.cta__img.cta__img--1(src=`/img/tours/${tour.images[0]}`, alt='Tour Picture')
      img.cta__img.cta__img--2(src=`/img/tours/${tour.images[1]}`, alt='Tour Picture')
      .cta__content
        h2.heading-secondary What are you waiting for?
        p.cta__text= `${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`
        if user
          button.btn.btn--green.span-all-rows.btn--book-tour(data-tour-id=`${tour.id}`) Book tour now!
        else
          //-If no user, the button is just a link to the login page
          a.btn.btn--green.span-all-rows(href='/login') Log in to book tour


//- THIS BLOCK IS NOW AT THE END OF THE FILE AND CORRECTLY INDENTED
block append scripts
  //- Leaflet JS is needed for the map
  script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="")
  //- Our custom map and booking scripts
  script(src='/js/leafletmap.js')
  script(src='/js/booking.js')